{% extends "base/questionBase.html" %}
{% block title %}
添加题目
{% endblock %}
{% block body %}
<div class="container">
    <div class="span12">
        <div class="page-header">
            <h2>
            [第一步] 题目基本信息
            <small>Basic Problem Information</small>
            </h2>
        </div>

        <div class="row-fluid">
            {% load crispy_forms_tags %}
            <form class="form-horizontal pull-left span7" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% crispy form %}
            </form>

            <div class="span5 alert alert-info">
                <p>题目上传注意事项：</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
